:root {
  --CD-color-one: #2e6da4;
  --CD-color-two: #f3525b;
}


.companylogo{
	height:80px;
}


.navbar-nav.CDnavbar > li > a:hover{
    color: var(--CD-color-two) !important;
    background: #ffffff !important;
    border-radius:5px !important;
    cursor: pointer;
}

.btn-firstCDcolor{
	border: 1px solid var(--CD-color-one) !important;
	color: var(--CD-color-one);
}

.btn-firstCDcolor:hover{
	color: black !important;
	background-color: var(--CD-color-two) !important;
	border: 1px solid var(--CD-color-two) !important;
}


.btn-secondCDcolor{
	border: 1px solid var(--CD-color-two) !important;
	color: var(--CD-color-two);
}

.btn-secondCDcolor:hover{
	color: black !important;
	background-color: var(--CD-color-one) !important;
	border: 1px solid var(--CD-color-one) !important;
}

.CDnavbar ul{
   display: inline-block !important;
   float: none !important;
}
.subsection{
	border-bottom: 1px solid #c9c9c9; 
	 
}

.sectiontitle{
	padding-bottom: 20px;
}

.sectioncontent {
	padding: 10px;
	text-align: left;
	font-size: larger;
	font-family: raleway;
    line-height: 2;

}

.projectmedia{
	width: 100%;
	overflow: hidden;
}

.notinfocusleft, .notinfocusright {
	height: 100%;
	width:100%;
	overflow: hidden;
	opacity: 0.6;
	position: relative;
    top: 125px;
}

.notinfocusleft:hover, .notinfocusright:hover{
	transform:scale(1.03);
	opacity: 1;
	transition: 0.4s;
}

.notinfocusleft{
	float:left;
}
.notinfocusright{
	float:right;
}

.carousel {
    margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -12px;
  display: none;
}
.carousel-control.right {
  right: -12px;
  display: none;
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}

.well{
  background: #fff;
  border: none;
}

section {
  padding: 20px !important;
}
   
.videoprojectcard{
  background: #f9f9f9;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.videoprojectmedia{
  align-self: center;
}

.videoprojecttable td {
  text-align: left;
  padding: 5px 5px 5px 10px;
  border: none;
  vertical-align: top;

}

.videoprojecttable{
  border: none;
  align-self: center;
}

.CDsection {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px; 
}

.CDsection h2 {
  color:#777;
  
}









.card {
    padding-top: 20px;
    border: none !important;
    margin: 10px 0 20px 0;
    background-color: #fff;
    border-top-width: 0px;
    border-bottom-width: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card:hover{
	border: 0px solid #777 !important;
    box-shadow: 0px 0px 0px var(--CD-color-two) !important;
    transform: scale(1.00) !important;
    cursor: default !important;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.1);
}

.card.hovercard .cardheader {
    background-color: var(--CD-color-one);
    background-size: cover;
    height: 5px;
}

.card.hovercard .avatar {
    position: relative;
}



.card.hovercard .avatar:hover{
	transform:scale(1.03);
	transition: 0.4s;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 10px;
    margin-bottom: 10px;
    
}

.socialbtn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
